<body>
<link rel="stylesheet" href="/site/coral.ru/css/index.less">

<div id="site-wrap">

    <section class="white intro">
        <div class="contenu">
            <p>
                Носки, кружки и свечи… <strong>71%</strong> россиян жалуются на бесполезные подарки. При этом каждый пятый
                хотел бы <strong>получить в подарок путешествие</strong> &mdash; <a href="https://www.ipsos.com/ru-ru/novyy-god-2023-kakikh-podarkov-zhdut-rossiyane-i-skolko-gotovy-potratit" target="_blank">говорят исследования Ipsos</a>.
                Если вы понятия не имеете, что подарить жене на 8 Марта, как удивить любимого человека на 14 Февраля и какой сделать детям сюрприз
                на весенние каникулы &mdash; эта страница для вас. Мы собрали готовые подборки туров на праздники, чтобы вы
                могли быстро найти путешествие в подарок и улететь отдыхать вместе. Только представьте, как восхитится
                вашим поступком девушка или любимый мужчина, и в каком восторге будут дети!
            </p>
            <div class="actions">
                <button class="with-down-arrow" data-scrollto="">Выбрать тур</button>
            </div>
        </div>
    </section>

    <section class="calendar liteblue">
        <div class="contenu">
            <h2>Календарь подарков для любимых: 1 квартал</h2>
            <div class="months-wrap">
                <div class="month">
                    <div class="name">Февраль</div>
                    <div class="grid">
                        <span class="weekdays">
                            <span>пн</span><span>вт</span><span>ср</span><span>чт</span><span>пт</span><span>сб</span><span>вс</span>
                        </span>
                        <span data-weak>30</span><span data-weak>31</span><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span>
                        <span>6</span><span>7</span><span>8</span><span>9</span><span>10</span><span>11</span><span>12</span>
                        <span>13</span><span>14</span><span>15</span><span>16</span><span>17</span><span class="hilite"><span>18</span><span>19</span>
                        <span>20</span><span>21</span><span>22</span><span>23</span><span>24</span><span>25</span><span>26</span></span>
                        <span>27</span><span>28</span><span data-weak>1</span><span data-weak>2</span><span data-weak>3</span><span data-weak>4</span><span data-weak>5</span>
                    </div>
                </div>
                <div class="month">
                    <div class="name">Март</div>
                    <div class="grid">
                        <span class="weekdays">
                            <span>пн</span><span>вт</span><span>ср</span><span>чт</span><span>пт</span><span>сб</span><span>вс</span>
                        </span>
                        <span data-weak>27</span><span data-weak>28</span><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span>
                        <span>6</span><span>7</span><span>8</span><span>9</span><span>10</span><span>11</span><span>12</span>
                        <span>13</span><span>14</span><span>15</span><span>16</span><span>17</span><span>18</span><span>19</span>
                        <span>20</span><span>21</span><span>22</span><span>23</span><span>24</span><span>25</span><span>26</span>
                        <span class="hilite"><span>27</span><span>28</span><span>29</span><span>30</span><span>31</span><span data-weak>1</span><span data-weak>2</span></span>
                    </div>
                </div>
                <div class="month">
                    <div class="name">Апрель</div>
                    <div class="grid">
                        <span class="weekdays">
                            <span>пн</span><span>вт</span><span>ср</span><span>чт</span><span>пт</span><span>сб</span><span>вс</span>
                        </span>
                        <span class="hilite"><span data-weak>27</span><span data-weak>28</span><span data-weak>29</span><span data-weak>30</span><span data-weak>31</span><span>1</span><span>2</span></span>
                        <span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span>
                        <span>10</span><span>11</span><span>12</span><span>13</span><span>14</span><span>15</span><span>16</span>
                        <span>17</span><span>18</span><span>19</span><span>20</span><span>21</span><span>22</span><span>23</span>
                        <span>24</span><span>25</span><span>26</span><span>27</span><span>28</span><span>29</span><span>30</span>
                    </div>
                </div>
            </div>
            <p>
                Обратите внимание, что некоторые праздники приходятся на официальные выходные. Можно смело бронировать
                поездку, не боясь, что любимый не сможет поехать. При условии, что он работает в стандартном графике.
            </p>
        </div>
    </section>

    <section class="destinations white">
        <div class="contenu">
            <h2>7 направлений для отдыха: <span class="lite">что выбрать для разных случаев</span></h2>
        </div>
    </section>

    <section class="gift-certificate liteblue">
        <div class="contenu">
            <h2>Выберите подарок любимому человеку сейчас и отправьтесь в путешествие вместе!</h2>
        </div>
    </section>



    <template id="_intro_markup">
        <div class="video-box">
            <div class="backdrop"></div>
            <!--            <div id="vimeo-visual-desktop" data-vimeo-id="763677286" class="vimeo-wrap hidden-on-mobile"></div>-->
            <!--            <div id="vimeo-visual-mobile" data-vimeo-id="763677274" class="vimeo-wrap hidden-on-desktop"></div>-->
            <div class="info-overlay">
                <div class="msg">
                    <h2>Не знаете, что подарить &mdash; подарите путешествие!</h2>
                    <p>
                        Готовые подборки туров на День Всех Влюбленных,
                        <br>23 Февраля, 8 Марта и школьные каникулы
                    </p>
                </div>
            </div>
        </div>
    </template>

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.2.1/mustache.min.js"></script>
<script src="/site/coral.ru/js/index.coffee"></script>
</body>