<body>
<link rel="stylesheet" href="/site/coral.ru/css/index.less">

<div id="site-wrap">

    <section class="white intro">
        <div class="contenu">
            <p>
                Отдыхать на&nbsp;праздниках удобно! Не&nbsp;нужно оформлять отпуск, согласовывать его с&nbsp;друзьями
                или выдергивать детей из&nbsp;учебы. Можно воспользоваться выходными, чтобы провести праздники ярко.
                На&nbsp;8&nbsp;Марта&nbsp;&mdash; пролететь с&nbsp;любимой над долиной Каппадокии; на&nbsp;весенние каникулы&nbsp;&mdash;
                свозить детей в&nbsp;Таиланд; на&nbsp;майские&nbsp;&mdash; махнуть с&nbsp;друзьями в&nbsp;ОАЭ. Выбирайте
                повод и&nbsp;удобный сезон, а&nbsp;мы&nbsp;расскажем, куда и&nbsp;когда вам отправиться отдыхать.
            </p>
            <div class="actions">
                <button class="with-down-arrow" data-scrollto="section.hotels-selection" data-ym-reachgoal="vt-holidays">Выбрать тур</button>
            </div>
            <div class="glassy instance1"><span>&nbsp;</span></div>
        </div>
    </section>

    <section class="calendar liteblue">
        <div class="contenu">
            <div class="icon-art">
                <svg width="108" height="86" viewBox="0 0 108 86" fill="none" xmlns="http://www.w3.org/2000/svg">&zwj;
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M50.2198 8.0278C69.0055 4.8263 89.7729 7.68818 97.763 21.3399C105.351 34.3056 93.3169 48.7145 80.6078 59.9486C67.071 71.9143 49.9153 84.5647 32.4735 79.0519C12.7145 72.8067 2.82343 54.5041 7.25595 36.7644C11.278 20.6672 30.685 11.357 50.2198 8.0278Z" fill="#D1E0FA" class="svg-elem-1"></path>
                    <path d="M27.201 62.0851C27.201 63.356 27.201 63.3394 27.201 63.3394C27.201 65.9134 29.4414 68.0021 32.2104 68.0021H74.192C76.9566 68.0021 79.2013 65.9134 79.2013 63.3394V24.2439C79.2013 21.6699 76.961 19.5812 74.192 19.5812H32.2104C29.4457 19.5812 27.201 21.6699 27.201 24.2439V36.5021" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" class="svg-elem-2"></path>
                    <path d="M48.2011 49.002L38.2011 60.002" stroke="url(#paint0_linear_423_248)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-3"></path>
                    <path d="M48.2011 49.0021C48.2011 49.0021 42.4613 42.6884 38.2011 38.0021" stroke="url(#paint1_linear_423_248)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-4"></path>
                    <path d="M27.201 49.0021H48.201" stroke="url(#paint2_linear_423_248)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-5"></path>
                    <path d="M79.2013 29.5001H27.201" stroke="black" stroke-width="2" stroke-miterlimit="10" class="svg-elem-6"></path>
                    <path d="M38.0819 23.1564V16.0021" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" class="svg-elem-7"></path>
                    <path d="M68.3203 23.1564V16.0021" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" class="svg-elem-8"></path>
                    <defs>
                        <linearGradient id="paint0_linear_423_248" x1="38.2011" y1="49.002" x2="49.2465" y2="58.8266" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FB7099"></stop>
                            <stop offset="1" stop-color="#F0AB13"></stop>
                        </linearGradient>
                        <linearGradient id="paint1_linear_423_248" x1="38.2011" y1="49.0021" x2="49.2465" y2="39.1774" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FB7099"></stop>
                            <stop offset="1" stop-color="#F0AB13"></stop>
                        </linearGradient>
                        <linearGradient id="paint2_linear_423_248" x1="27.201" y1="50.0021" x2="27.2992" y2="47.9848" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FB7099"></stop>
                            <stop offset="1" stop-color="#F0AB13"></stop>
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <h2>Календарь подарков</h2>
            <div class="months-wrap">
                <div class="month">
                    <div class="name">Февраль</div>
                    <div class="grid">
                        <span class="weekdays">
                            <span>пн</span><span>вт</span><span>ср</span><span>чт</span><span>пт</span><span>сб</span><span>вс</span>
                        </span>
                        <span data-weak>29</span><span data-weak>30</span><span>0</span><span>1</span><span>2</span><span>3</span><span>4</span>
                        <span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span><span>11</span>
                        <span>12</span><span>13</span><span data-holidays="feb14">14</span><span>15</span><span>16</span><span class="hilite school" data-holidays="feb17-25"><span>17</span><span>18</span>
                        <span>19</span><span>20</span><span>21</span><span>22</span><span data-holidays="feb23">23</span><span>24</span><span>25</span></span>
                        <span>26</span><span>27</span><span>28</span><span>29</span><span data-weak>1</span><span data-weak>2</span><span data-weak>3</span>
                    </div>
                </div>
                <div class="month">
                    <div class="name">Март</div>
                    <div class="grid">
                        <span class="weekdays">
                            <span>пн</span><span>вт</span><span>ср</span><span>чт</span><span>пт</span><span>сб</span><span>вс</span>
                        </span>
                        <span data-weak>26</span><span data-weak>27</span><span data-weak>28</span><span data-weak>29</span><span>1</span><span>2</span><span>3</span>
                        <span>4</span><span>5</span><span>6</span><span>7</span><span data-holidays="mar8">8</span><span>9</span><span>10</span>
                        <span>11</span><span>12</span><span>13</span><span>14</span><span>15</span><span>16</span><span>17</span>
                        <span>18</span><span>19</span><span>20</span><span>21</span><span>22</span><span>23</span><span>24</span>
                        <span class="hilite school" data-holidays="mar25-31"><span>25</span><span>26</span><span>27</span><span>28</span><span>29</span><span>30</span><span>31</span></span>
                    </div>
                </div>
                <div class="month">
                    <div class="name">Апрель</div>
                    <div class="grid">
                        <span class="weekdays">
                            <span>пн</span><span>вт</span><span>ср</span><span>чт</span><span>пт</span><span>сб</span><span>вс</span>
                        </span>
                        <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span>
                        <span class="hilite school" data-holidays="apr8-14"><span>8</span><span>9</span><span>10</span><span>11</span><span>12</span><span>13</span><span>14</span></span>
                        <span>15</span><span>16</span><span>17</span><span>18</span><span>19</span><span>20</span><span>21</span>
                        <span>22</span><span>23</span><span>24</span><span>25</span><span>26</span><span>27</span><span class="hilite" data-holidays="apr28-may1"><span>28</span>
                        <span>29</span><span>30</span><span data-weak>1</span></span><span data-weak>2</span><span data-weak>3</span><span data-weak>4</span><span data-weak>5</span>
                    </div>
                </div>
                <div class="month">
                    <div class="name">Май</div>
                    <div class="grid">
                        <span class="weekdays">
                            <span>пн</span><span>вт</span><span>ср</span><span>чт</span><span>пт</span><span>сб</span><span>вс</span>
                        </span>
                        <span class="hilite" data-holidays="apr28-may1"><span data-weak>29</span><span data-weak>30</span><span>1</span></span><span>2</span><span>3</span><span>4</span><span>5</span>
                        <span>6</span><span>7</span><span>8</span><span class="hilite" data-holidays="may9-12"><span>9</span><span>10</span><span>11</span><span>12</span></span>
                        <span>13</span><span>14</span><span>15</span><span>16</span><span>17</span><span>18</span><span>19</span>
                        <span>20</span><span>21</span><span>22</span><span>23</span><span>24</span><span>25</span><span>26</span>
                        <span>27</span><span>28</span><span>29</span><span>30</span><span>31</span><span data-weak>1</span><span data-weak>2</span>
                    </div>
                </div>
            </div>
            <p>
                Обратите внимание, что некоторые праздники приходятся на&nbsp;официальные выходные. Можно смело бронировать
                поездку, не&nbsp;боясь, что любимый не&nbsp;сможет поехать. При условии, что он работает в&nbsp;стандартном&nbsp;графике.
            </p>
            <div class="glassy instance1"><span>&nbsp;</span></div>
            <div class="glassy instance2"><span>&nbsp;</span></div>
        </div>
    </section>

    <section class="destinations white">
        <div class="contenu">
            <div class="icon-art">
                <svg width="88" height="70" viewBox="0 0 88 70" fill="none" xmlns="http://www.w3.org/2000/svg">&zwj;
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M40.1523 0.63159C24.4634 1.21138 9.99244 8.42682 4.50569 21.7195C-1.8329 37.0759 -1.33933 55.8992 13.3926 65.4622C27.9561 74.9158 46.8665 68.0976 61.474 58.6994C76.675 48.9194 91.942 34.7083 86.066 18.7054C80.2544 2.87803 58.5934 -0.0499046 40.1523 0.63159Z" fill="#D1E0FA" class="svg-elem-1"></path>
                    <path d="M47.379 22.3542C49.0275 24.8364 52.1757 27.0064 55.3649 27.0064C60.4512 27.0064 64.5758 22.8743 64.5758 17.8039C64.5758 12.7343 60.4391 8.60144 55.3649 8.60144C52.1636 8.60144 49.356 10.2519 47.7074 12.7461L47.2282 13.471" stroke="url(#paint0_linear_511_974)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-2"></path>
                    <path d="M35.3572 25.205L41.3693 50.6343L42.6162 55.9341M35.3572 25.205L18.0216 29.297C17.1705 25.6199 18.4476 21.1497 20.7287 18.2158C22.7094 15.678 25.1447 13.8989 28.6691 12.3182C30.0487 11.6994 32.3229 11.0374 32.3229 11.0374M35.3572 25.205L42.6892 23.4119M27.9957 26.8901C27.2735 16.9284 32.3229 11.0374 32.3229 11.0374M32.3229 11.0374C32.3229 11.0374 34.6132 10.681 36.0925 10.6581C40.2519 10.5939 43.5751 11.3592 46.4756 13.036L47.9511 13.985C50.3549 15.7711 52.7554 18.1982 52.7554 21.04L42.6892 23.4119M32.3229 11.0374C32.3229 11.0374 40.8732 16.6693 42.6892 23.4119" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-3"></path>
                    <path d="M74.8702 60.5584C64.6904 56.7275 53.4236 55.7252 42.6162 55.9341" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-4"></path>
                    <path d="M15.6162 60.5584C25.7961 56.7275 37.0628 55.7252 47.8702 55.9341" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-5"></path>
                    <path d="M27.9681 57.2169L32.9285 50.6503M32.9285 50.6503L22.9361 39.5535M32.9285 50.6503L41.3693 50.6343L59.0423 50.6214L64.0659 57.6094" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-6"></path>
                    <defs>
                        <linearGradient id="paint0_linear_511_974" x1="47.2282" y1="27.0064" x2="65.7753" y2="9.90208" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FB7099"></stop>
                            <stop offset="1" stop-color="#F0AB13"></stop>
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <h2>
                7 направлений для отдыха:
                <br>
                <span style="font-weight: 500;">что выбрать для разных случаев</span>
            </h2>

            <div class="alternate-layout">
                <div class="country-block" data-country="turkey">
                    <div class="visual" style="background-image: url(/site/coral.ru/assets/visual-turkey.jpg);">
                        <div><div class="glassy"><div> </div></div></div>
                    </div>
                    <div class="info">
                        <h3>Турция</h3>
                        <p>
                            Турция отличный вариант для 14&nbsp;и&nbsp;23&nbsp;Февраля, 8&nbsp;Марта и&nbsp;школьных
                            каникул. Перелет займет всего 5&nbsp;часов. Море прогреется ближе к&nbsp;концу апреля, ну&nbsp;а&nbsp;пока
                            можно купаться в&nbsp;теплом бассейне с&nbsp;любимым, порадовать детей в&nbsp;турецком
                            Диснейленде&nbsp;&mdash; парк Land of&nbsp;Legend и&nbsp;освежить чувства с&nbsp;супругом на&nbsp;воздушном
                            шаре над Каппадокией.
                        </p>
                        <div class="actions">
                            <button class="with-down-arrow" data-scrollto="section.hotels-selection" data-group-marker="Турция" data-ym-reachgoal="vt-holidays">Выбрать тур</button>
                        </div>
                    </div>
                </div>
                <div class="country-block" data-country="egypt">
                    <div class="visual" style="background-image: url(/site/coral.ru/assets/visual-egypt.jpg);">
                        <div><div class="glassy"><div> </div></div></div>
                    </div>
                    <div class="info">
                        <h3>Египет</h3>
                        <p>
                            Сюда можно слетать на&nbsp;несколько дней или в&nbsp;полноценный отпуск, перелет займет 5&nbsp;часов.
                            Вас ждут спелые гуава, апельсины и&nbsp;клубника. На&nbsp;23 Февраля можно устроить мужчине
                            сюрприз и&nbsp;погрузиться с&nbsp;аквалангом в&nbsp;Красном море. Впечатления от&nbsp;причудливых
                            и&nbsp;ярких подводных жителей освежат ваши чувства. На&nbsp;8&nbsp;Марта можно поселиться в&nbsp;отеле
                            с&nbsp;видом на&nbsp;море, а&nbsp;дети будут в&nbsp;восторге от&nbsp;анимации и&nbsp;ныряния
                            с&nbsp;маской.
                        </p>
                        <div class="actions">
                            <button class="with-down-arrow" data-scrollto="section.hotels-selection" data-group-marker="Египет" data-ym-reachgoal="vt-holidays">Выбрать тур</button>
                        </div>
                    </div>
                </div>
                <div class="country-block" data-country="tailand">
                    <div class="visual" style="background-image: url(/site/coral.ru/assets/visual-tailand.jpg);">
                        <div><div class="glassy"><div> </div></div></div>
                    </div>
                    <div class="info">
                        <h3>Таиланд</h3>
                        <p>
                            Таиланд&nbsp;&mdash; страна вечно теплого моря, песчаных пляжей и&nbsp;видов, достойных
                            открыток. Лучше выбирать для продолжительного отпуска&nbsp;&mdash; перелет занимает 9&nbsp;часов.
                            Можно отвезти любимую к&nbsp;изумрудному морю на&nbsp;Краби, на&nbsp;уединенный Самуи,
                            разнообразный Пхукет или оторваться в&nbsp;Паттайе, если вы&nbsp;любите вечеринки и&nbsp;ночную
                            жизнь. Дети могут играть в&nbsp;большой песочнице на&nbsp;пляже, пить полезные коктейли из&nbsp;свежих
                            фруктов и&nbsp;веселиться в&nbsp;аквапарках.
                        </p>
                        <div class="actions">
                            <button class="with-down-arrow" data-scrollto="section.hotels-selection" data-group-marker="Таиланд" data-ym-reachgoal="vt-holidays">Выбрать тур</button>
                        </div>
                    </div>
                </div>
                <div class="country-block" data-country="uae">
                    <div class="visual" style="background-image: url(/site/coral.ru/assets/visual-uae.jpg);">
                        <div><div class="glassy"><div> </div></div></div>
                    </div>
                    <div class="info">
                        <h3>Эмираты</h3>
                        <p>
                            Отличный вариант для любого случая. Подойдет для поездки на&nbsp;выходные или для
                            полноценного отпуска&nbsp;&mdash; перелет занимает 5&nbsp;часов. Можно порадовать мужа на&nbsp;23&nbsp;Февраля
                            и&nbsp;погонять на&nbsp;Ferrari, как пилот Формулы-1, в&nbsp;Ferrari World на&nbsp;острове
                            Яс. На&nbsp;14 Февраля и&nbsp;8&nbsp;Марта в&nbsp;Дубае можно сводить любимую в&nbsp;ресторан
                            с&nbsp;видом на&nbsp;Бурдж Халиф или отпустить на&nbsp;шопинг. А&nbsp;дети будут в&nbsp;восторге
                            от&nbsp;моря и&nbsp;аквапарков на&nbsp;каникулах.
                        </p>
                        <div class="actions">
                            <button class="with-down-arrow" data-scrollto="section.hotels-selection" data-group-marker="ОАЭ" data-ym-reachgoal="vt-holidays">Выбрать тур</button>
                        </div>
                    </div>
                </div>
                <div class="country-block" data-country="srilanka">
                    <div class="visual" style="background-image: url(/site/coral.ru/assets/visual-srilanka.jpg);">
                        <div><div class="glassy"><div> </div></div></div>
                    </div>
                    <div class="info">
                        <h3>Шри-Ланка</h3>
                        <p>
                            Неизбитое направление для отдыха на&nbsp;море. Километры пляжей, где понравится купаться и&nbsp;играть
                            в&nbsp;огромной песочнице детям. Девушки сделают фантастические фотографии для соцсетей, а&nbsp;если
                            ваш мужчина любит серфинг&nbsp;&mdash; путешествие на&nbsp;Шри-Ланку станет отличным
                            подарком на&nbsp;14&nbsp;или 23&nbsp;Февраля. Можно совместить с&nbsp;поездками к&nbsp;пещерным
                            храмам 1&nbsp;века до&nbsp;н.э. или посмотреть на&nbsp;толпы крокодилов в&nbsp;парке Кумана.
                        </p>
                        <div class="actions">
                            <button class="with-down-arrow" data-scrollto="section.hotels-selection" data-group-marker="Шри-Ланка" data-ym-reachgoal="vt-holidays">Выбрать тур</button>
                        </div>
                    </div>
                </div>
                <div class="country-block" data-country="maldives">
                    <div class="visual" style="background-image: url(/site/coral.ru/assets/visual-maldives.jpg);">
                        <div><div class="glassy"><div> </div></div></div>
                    </div>
                    <div class="info">
                        <h3>Мальдивы</h3>
                        <p>
                            Каждый хоть раз мечтал оказаться в&nbsp;рекламе баунти со&nbsp;снежно-белым песком у&nbsp;лазурного
                            моря. Мальдивы созданы для идеального Дня Святого Валентина: представьте, вы&nbsp;на&nbsp;острове,
                            на&nbsp;веранде бунгало, который стоит в&nbsp;воде в&nbsp;окружении бирюзовых волн. Мальдивы
                            подойдут и&nbsp;для семейного отдыха. Для детей здесь раздолье: бескрайний чистый песок,
                            можно посмотреть дельфинов и&nbsp;покормить скатов.
                        </p>
                        <div class="actions">
                            <button class="with-down-arrow" data-scrollto="section.hotels-selection" data-group-marker="Мальдивы" data-ym-reachgoal="vt-holidays">Выбрать тур</button>
                        </div>
                    </div>
                </div>
                <div class="country-block" data-country="cuba">
                    <div class="visual" style="background-image: url(/site/coral.ru/assets/visual-cuba.jpg);">
                        <div><div class="glassy"><div> </div></div></div>
                    </div>
                    <div class="info">
                        <h3>Куба</h3>
                        <p>
                            Пока на&nbsp;улицах дует холодный ветер, на&nbsp;Кубе можно не&nbsp;вылезать из&nbsp;воды,
                            уплетать креветки, фотографировать пеликанов и&nbsp;веселиться под ритмы сальсы. Рекомендуем
                            выделить пару дней на&nbsp;осмотр Гаваны&nbsp;&mdash; столицу Кубы с&nbsp;историческим
                            центром из&nbsp;списка ЮНЕСКО, яркими улицами, колониальными крепостями и&nbsp;зданием с&nbsp;архитектурой
                            эпохи Возрождения. А&nbsp;потом махнуть на&nbsp;белоснежные пляжи Варадеро.
                        </p>
                        <div class="actions">
                            <button class="with-down-arrow" data-scrollto="section.hotels-selection" data-group-marker="Куба" data-ym-reachgoal="vt-holidays">Выбрать тур</button>
                        </div>
                    </div>
                </div>
                <div class="country-block" data-country="russia">
                    <div class="visual" style="background-image: url(/site/coral.ru/assets/visual-russia.jpg);">
                        <div><div class="glassy"><div> </div></div></div>
                    </div>
                    <div class="info">
                        <h3>Россия</h3>
                        <p>
                            Самое глубокое озеро в&nbsp;мире, вулканы высотой 2&nbsp;км, санатории Черноморского
                            побережья, живой макет страны и&nbsp;многое-многое другое. В&nbsp;России есть всё для
                            поездок на&nbsp;выходные, несколько дней или полноценного отпуска. Можно, наконец, увидеть
                            Камчатку, поехать к&nbsp;морю в&nbsp;Сочи, отправиться в&nbsp;тур по&nbsp;великим городам
                            Золотого кольца или побывать в&nbsp;самом европейском городе России&nbsp;&mdash;
                            Калининграде.
                        </p>
                        <div class="actions">
                            <button class="with-down-arrow" data-scrollto="section.hotels-selection" data-group-marker="Россия" data-ym-reachgoal="vt-holidays">Выбрать тур</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="glassy instance1"><span>&nbsp;</span></div>

        </div>
    </section>

    <section class="gift-certificate liteblue">
        <div class="contenu">
            <div class="icon-art">
                <svg width="75" height="63" viewBox="0 0 75 63" fill="none" xmlns="http://www.w3.org/2000/svg">&zwj;
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M39.108 62.572C53.6908 62.32 67.7516 55.8629 72.6023 43.2712C77.8282 29.7058 73.891 13.9517 61.0137 5.70851C48.7242 -2.15842 32.8062 2.01493 20.589 9.97573C7.89568 18.2468 -3.29813 30.9251 1.48161 44.5002C6.28533 58.1434 23.4518 62.8426 39.108 62.572Z" fill="#D1E0FA" class="svg-elem-1"></path>
                    <path d="M43.2195 19.5303C46.3651 18.7522 53.2045 15.1583 52.8146 11.5135C52.7471 10.8869 52.3428 10.0489 50.799 9.61565C49.3944 9.22156 48.0251 9.40153 46.7286 10.1506C43.2823 12.1413 41.332 17.6865 40.7642 19.5303" stroke="url(#paint0_linear_9_389)" stroke-width="2" stroke-linecap="round" class="svg-elem-2"></path>
                    <path d="M33.6177 19.5303C30.4721 18.7522 23.6326 15.1583 24.0226 11.5135C24.0901 10.8869 24.4943 10.0489 26.0381 9.61565C27.4427 9.22156 28.8121 9.40153 30.1086 10.1506C33.5549 12.1413 35.5052 17.6865 36.073 19.5303" stroke="url(#paint1_linear_9_389)" stroke-width="2" stroke-linecap="round" class="svg-elem-3"></path>
                    <path d="M38.1639 19.5302C37.899 16.0872 35.8236 7.69881 29.6406 1.68921" stroke="url(#paint2_linear_9_389)" stroke-width="2" stroke-linecap="round" class="svg-elem-4"></path>
                    <path d="M38.8499 19.5303C38.9464 16.7832 39.7027 10.0902 41.9558 5.29517" stroke="url(#paint3_linear_9_389)" stroke-width="2" stroke-linecap="round" class="svg-elem-5"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8059 21.5303C17.8059 19.8734 19.1491 18.5303 20.8059 18.5303H56.3162C57.973 18.5303 59.3162 19.8734 59.3162 21.5303V26.9925C59.3162 28.6494 57.973 29.9925 56.3162 29.9925H20.8059C19.1491 29.9925 17.8059 28.6494 17.8059 26.9925V21.5303ZM20.8059 20.5303C20.2536 20.5303 19.8059 20.978 19.8059 21.5303V26.9925C19.8059 27.5448 20.2536 27.9925 20.8059 27.9925H56.3162C56.8684 27.9925 57.3162 27.5448 57.3162 26.9925V21.5303C57.3162 20.978 56.8684 20.5303 56.3162 20.5303H20.8059Z" fill="black" class="svg-elem-6"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.4062 52.6345C20.4062 54.2914 21.7494 55.6345 23.4062 55.6345H53.7159C55.3727 55.6345 56.7159 54.2914 56.7159 52.6345V27.9926H20.4062V52.6345ZM23.4062 53.6345C22.854 53.6345 22.4062 53.1868 22.4062 52.6345V29.9926H54.7159V52.6345C54.7159 53.1868 54.2682 53.6345 53.7159 53.6345H23.4062Z" fill="black" class="svg-elem-7"></path>
                    <rect x="34.1189" y="19.5304" width="8.77774" height="35.1041" rx="2" stroke="url(#paint4_linear_9_389)" stroke-width="2" class="svg-elem-8"></rect>
                    <defs>
                        <linearGradient id="paint0_linear_9_389" x1="40.7642" y1="9.41254" x2="50.8728" y2="21.208" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FB7099"></stop>
                            <stop offset="1" stop-color="#F0AB13"></stop>
                        </linearGradient>
                        <linearGradient id="paint1_linear_9_389" x1="36.073" y1="9.41254" x2="25.9643" y2="21.208" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FB7099"></stop>
                            <stop offset="1" stop-color="#F0AB13"></stop>
                        </linearGradient>
                        <linearGradient id="paint2_linear_9_389" x1="29.6406" y1="19.5302" x2="43.4796" y2="13.0616" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FB7099"></stop>
                            <stop offset="1" stop-color="#F0AB13"></stop>
                        </linearGradient>
                        <linearGradient id="paint3_linear_9_389" x1="41.9558" y1="19.5303" x2="36.0788" y2="18.2757" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FB7099"></stop>
                            <stop offset="1" stop-color="#F0AB13"></stop>
                        </linearGradient>
                        <linearGradient id="paint4_linear_9_389" x1="34.1189" y1="54.6345" x2="50.5042" y2="50.6258" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FB7099"></stop>
                            <stop offset="1" stop-color="#F0AB13"></stop>
                        </linearGradient>
                    </defs>
                </svg>
            </div>
<!--            <h2>Выберите подарок любимому человеку сейчас и&nbsp;отправьтесь в&nbsp;путешествие&nbsp;вместе!</h2>-->
            <div>&nbsp;</div>
            <div class="offer-block">
                <div class="visual-comp">
                    <img src="/site/coral.ru/assets/cert-visual-2024.png">
                </div>
                <div class="info">
                    <h3>Подарочный сертификат</h3>
                    <p>
                        Пусть любимый человек сам выбирает, в&nbsp;какую страну и&nbsp;когда он&nbsp;хочет полететь.
                        Подарите ему электронный сертификат на&nbsp;путешествие. Номинал стартует всего от&nbsp;1&nbsp;тысячи
                        рублей. А&nbsp;если для вас важно не&nbsp;только подарить впечатления, но&nbsp;и&nbsp;вручить
                        подарок физически&nbsp;&mdash; закажите стильную подарочную карту Coral&nbsp;Travel номиналом от&nbsp;5&nbsp;тысяч&nbsp;рублей.
                    </p>
                    <div class="actions">
                        <a href="https://www.coral.ru/podarochnye-karty/?holidays" target="_blank">Купить сертификат</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hotels-selection">
        <div class="contenu">
            <h2>Подборка лучших предложений для&nbsp;подарков</h2>
            <p>
                На каждой карточке отеля указаны готовые предложения <br>на&nbsp;праздничные даты, чтобы вам было легче сориентироваться.
            </p>
            <ul class="occassion-selector">
                <li data-select-holidays="feb14" data-scrollto="section.hotels-selection">
                    <span class="label"><span class="hidden-on-desktop">Туры на </span>14 февраля</span>
                </li>
                <li data-select-holidays="feb17-25" data-scrollto="section.hotels-selection">
                    <span class="label"><span class="hidden-on-desktop">Туры на </span>каникулы 17-25 февраля</span>
                </li>
                <li data-select-holidays="feb23" data-scrollto="section.hotels-selection">
                    <span class="label"><span class="hidden-on-desktop">Туры на </span>23 февраля</span>
                </li>
                <li data-select-holidays="mar8" data-scrollto="section.hotels-selection">
                    <span class="label"><span class="hidden-on-desktop">Туры на </span>8 марта</span>
                </li>
                <li data-select-holidays="mar25-31" data-scrollto="section.hotels-selection">
                    <span class="label"><span class="hidden-on-desktop">Туры на </span>каникулы 25-31 марта</span>
                </li>
                <li data-select-holidays="apr8-14" data-scrollto="section.hotels-selection">
                    <span class="label"><span class="hidden-on-desktop">Туры на </span>каникулы 8-14 апреля</span>
                </li>
                <li data-select-holidays="apr28-may1" data-scrollto="section.hotels-selection">
                    <span class="label"><span class="hidden-on-desktop">Туры на </span>праздники 28.04-01.05</span>
                </li>
                <li data-select-holidays="may9-12" data-scrollto="section.hotels-selection">
                    <span class="label"><span class="hidden-on-desktop">Туры на </span>праздники 9-12 мая</span>
                </li>
            </ul>
        </div>
    </section>

    <template id="_intro_markup">
        <div class="video-box">
            <div class="backdrop"></div>
            <!--            <div id="vimeo-visual-desktop" data-vimeo-id="763677286" class="vimeo-wrap hidden-on-mobile"></div>-->
            <!--            <div id="vimeo-visual-mobile" data-vimeo-id="763677274" class="vimeo-wrap hidden-on-desktop"></div>-->
            <div class="info-overlay">
                <div class="msg">
                    <h2>
                        Готовые подборки
                        <br>туров на каникулы
                        <br>и праздники
                    </h2>
                    <p>
                        Календарь путешествий 2024
                    </p>
<!--
                    <ul>
                        <li>7 открытых солнечных стран</li>
                        <li>Отпуск на&nbsp;море или трип по&nbsp;городу</li>
                        <li>Направления-новинки и&nbsp;хитовые курорты</li>
                    </ul>
-->
                </div>
            </div>
        </div>
    </template>

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.2.1/mustache.min.js"></script>
<script src="/site/coral.ru/js/index.coffee" type="module"></script>
</body>