<div class="tooltip-inhalt valentine">
    <div class="head">Майские праздники</div>
    <div class="body">
        Отличный повод устроить себе отпуск <br>на море или съездить в небольшое <br>путешествие по красивым и интересным
        <br>местам.
    </div>
    <div class="actions">
        <button class="with-down-arrow" data-select-holidays="apr29-may01" data-scrollto="section.hotels-selection" data-ym-reachgoal="vt-holidays">Выбрать тур</button>
    </div>
    <div class="tip"></div>
</div>